body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #eeeeee;
}
#main-container{
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: 0 auto;
    box-shadow: 0px 20px 60px rgba(0,0,0,0.3);
    margin-bottom: 100px;
}
#container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#left{
    width: 40%;
    background-color: #fff;
    text-align: center;
}
#left a{
    text-decoration: none;
    color: black;
    border: solid 1px rgba(0,0,0,0.2);
    padding: 15px 50px;
    border-radius: 25px;
}
#left h1{
    font-size: 44px;
    font-weight: 350;
    margin: 0;
    padding-top: 250px;
}
#left p{
    font-size: 20px;
    color: rgba(0,0,0,0.6);
    margin: 0;
    padding-top: 5px;
    padding-bottom: 50px;
}
#right{
    width: 60%;
    background-repeat: no-repeat;
}
#right img{
    width: 100%;
    height: 100%;
}
#work{
    background-color: rgb(51,51,51);
    color: white;
    height: 70px;
}
#work p{
    text-align: center;
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 25px;
    font-weight: 300;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 10px;
}
.descriptions{
    height: 100px;
    text-align: center;
    width: 100%;
}
.descriptions h2{
    padding-top: 20px;
    font-size: 20px;
    margin: 0;
}
.descriptions p{
    font-size: 16px;
    margin: 0;
    padding-top: 15px;
}
#contact-info{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
#contact-info h1{
    font-size: 50px;
    color: rgba(0,0,0,0.8);
}
#contact-info p{
    font-size: 16px;
    color: rgba(0,0,0,0.8);
}
#left a:hover{
    background-color: rgba(0,0,0,0.05);
    transition: background-color 20ms ease-in;
}
.img-dim{
    width: 100%;
    height: 550px;
}
@media screen and (max-width: 900px){
    #main-container{
        max-width: 100%;
    }
    #left h1{
        padding-top: 450px;
        font-size: 40px;
    }
}
@media screen and (max-width: 700px){
    #left h1{
        padding-top: 450px;
        font-size: 32px;
    }
}
@media screen and (max-width: 500px){
    #container{
        display: block;
        height: 1200px;
    }
    #left,#right{
        width: 100%;
        height: 600px;
    }
    #left h1{
        padding-top: 200px;
        font-size: 40px;
    }
    #contact-info{
        width: 100%;
    }
    .descriptions{
        height: 120px;
    }
    .img-dim{
        width: 100%;
        height: 300px;
    }
}